head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  title Влад Фурман. Веб-разработчик

  link(rel="icon", href='img/rubik.png')
  link(rel="stylesheet", href='styles/main.css')
body

  mixin chipImg(text, src)
    .chip
      img.avatar.avatar-sm(src=src)
      = text

  mixin skill(text, src)
    .skill
      +chipImg(text, src)

  mixin tags(string)
    - const arr = string.split(',').map(a => a.trim())
    .skills-list
      each tag in arr
        .chip= tag


  mixin language(text, src, score, maxScore=10)
    .skill
      +chipImg(`${text} — ${score}/${maxScore}`, src)

  mixin contact(text, src, link)
    .contact: a(href=link)
      +chipImg(text, src)


  div.top
    h4.title Влад Фурман<br>
      | Веб-разработчик
    .picture-contacts-container
      .picture-contacts
        .my-image
          img.image.me(src="img/me.jpg")
        .contacts
          .contacts-wrapper
            +contact('WhatIsLove_Furman', 'img/icons/vk.svg', 'https://vk.com/whatislove_furman')
            +contact('Blowlyge@gmail.com', 'img/icons/gmail.svg', 'mailto:blowlyge@gmail.com')
            +contact('Ruminat', 'img/icons/telegram.svg', 'https://t.me/ruminat')
            +contact('Ruminat', 'img/icons/github.svg', 'https://github.com/Ruminat')

  .main
    .skills
      .skills-column.use-skills
        h4.skills-title Использую
        .skills-list
          +skill('HTML', 'img/icons/html.svg')
          +skill('Pug', 'img/icons/pug.svg')
          +skill('LaTeX', 'img/icons/latex.svg')
        .skills-list
          +skill('JavaScript', 'img/icons/js.svg')
          +skill('Python', 'img/icons/python.svg')
          +skill('Git', 'img/icons/git.svg')
        .skills-list
          +skill('Vue', 'img/icons/vue.svg')
          +skill('Electron', 'img/icons/electron.svg')
          +skill('NodeJS', 'img/icons/nodejs.svg')
        .skills-list
          +skill('CSS', 'img/icons/css.svg')
          +skill('SASS', 'img/icons/sass.svg')
          +skill('Markdown', 'img/icons/markdown.svg')
      .skills-column.know-skills
        h4.skills-title Знаю
        .skills-list
          +skill('SQL', 'img/icons/sql.svg')
          +skill('PL/SQL', 'img/icons/database.svg')
      .skills-column.aware-skills
        h4.skills-title Знаком с
        .skills-list
          +skill('Haskell', 'img/icons/haskell.svg')
          +skill('Kotlin', 'img/icons/kotlin.svg')
          +skill('C#', 'img/icons/csharp.svg')
          +skill('C++', 'img/icons/cpp.svg')

    .projects
      h4.title Мои проекты
      .projects-wrapper
        .card.project-card
          .card-header
            .card-title #[a(href="https://github.com/Ruminat/Lyra") Lyra] 
              | #[span.text-gray (2016)]
            .card-subtitle #[+tags('HTML, CSS, JS, Electron')]
          .card-body Разработанный мной ещё в школе музыкальный плеер, работающий с VK API.
        .card.project-card
          .card-header
            .card-title #[a(href="https://github.com/Ruminat/Linteum") Linteum] 
              | #[span.text-gray (2017)]
            .card-subtitle #[+tags('C++, QT')]
          .card-body Построитель графиков на C++. Учебный проект на 2-ом курсе в Политехе.
        .card.project-card
          .card-header
            .card-title #[a(href="https://github.com/kit-software-development/exam-Ruminat") Chi] 
              | #[span.text-gray (2019)]
            .card-subtitle #[+tags('Pug, SASS, JS, Vue, Electron, Python')]
          .card-body Приложение с сервером для изучения языков по карточкам со словами наподобие 
            | #[a(href="https://apps.ankiweb.net/") Anki].
        .card.project-card
          .card-header
            .card-title #[a(href="https://github.com/Ruminat/Asq-App") Asq] 
              | #[span.text-gray (2020)]
            .card-subtitle #[+tags('Pug, SASS, JS, Vue, Electron, Python')]
          .card-body Моя дипломная работа в бакалавриате.
            | Приложение с сервером для трансляции запросов на русском языке в SQL-код.
        .card.project-card
          .card-header
            .card-title #[a(href="https://github.com/Ruminat/PL-SQL-labs") PL/SQL labs] 
              | #[span.text-gray (2019)]
            .card-subtitle #[+tags('HTML, CSS, JS, Electron')]
          .card-body Разработанный мной ещё в школе музыкальный плеер, работающий с VK API.
        .card.project-card
          .card-header
            .card-title #[a(href="https://github.com/Ruminat/DM-2019-online-course") DM online-course] 
              | #[span.text-gray (2019)]
            .card-subtitle #[+tags('HTML, CSS, JS, Electron')]
          .card-body Разработанный мной ещё в школе музыкальный плеер, работающий с VK API.

    .education
      h4.title Образование
      .education-wrapper
        .card.education-card
          .card-image
            img.polykek-image(src="img/polykek.svg")
          .card-header
            .card-title.h6 Бакалавриат 2016–2020
            .card-subtitle.text-gray Факультет — ИКНТ, кафедра — ВШИСиСТ (бывш. КИТ)
          .card-body Специальность: Математическое обеспечение и базы данных
        .card.education-card
          .card-image
            img.polykek-image(src="img/polykek.svg")
          .card-header
            .card-title.h6 Магистратура 2020–...
            .card-subtitle.text-gray Факультет — ИКНТ, кафедра — ВШИСиСТ (бывш. КИТ)
          .card-body Специальность: Математическое обеспечение и администрирование корпоративных систем

    .rest
      .rest-box.languages
        h4.languages-title Иностранные языки
        //- +language('Русский', 'img/flags/Russia.svg', 10)
        +language('Английский', 'img/flags/UK.svg', 8)
        +language('Японский', 'img/flags/Japan.svg', 6)

      .rest-box.hobbies
        h4.hobbies-title Интересы
        +skill('Веб-разработка', 'img/icons/mobile-phone.svg')
        +skill('Спидкубинг', 'img/icons/rubik.svg')
        +skill('Языки', 'img/icons/translate.svg')
